/* color pallete */
:root {
    --color-primary: #2584FF;
    --color-secondary: #00D9FF;
    --color-accent: #FF3400;
    --color-heading: #1B0760;
    --color-body: #918CA4;
}

* {
    box-sizing: border-box;
}

/*  */

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0px;

}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
.link-arrow {
    color: var(--color-accent);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.link-arrow::after {
    content: "->";
    margin-left: 5px;
    transition: margin .5s;
}

.link-arrow:hover::after {
    transform: 5px;
    margin-left: 50px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    border-radius: 20px;
    padding: .5rem 2rem;
    font-weight: 600;
    white-space: nowrap;
    color: aliceblue;
}

.badge--primary {
    background: var(--color-primary);
}

.badge--secondary {
    background: var(--color-secondary);
}

.badge-large {
    font-size: 2rem;
}

.badge-small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge-large {
        font-size: 1.5rem;
    }

    .badge-small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-heading);
}

.list--inline .list__item {
    display: inline;
    margin-right: 2rem;
    font-weight: bold;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: .5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}



/* Buttons */
.btn { 
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
}

.btn--primary {
    background-color: var(--color-primary);
    color: aliceblue;
}

.btn--primary:hover {
    background-color: #3a8ffd;
    color: aliceblue;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: aliceblue;
}

.btn--secondary:hover {
    background-color: #00c8eb;
    color: aliceblue;
}

.btn--accent {
    background-color: var(--color-accent);
    color: aliceblue;
}

.btn--accent:hover {
    background-color: #fd4516;
    color: aliceblue;
}

.btn--outline {
    background-color: aliceblue;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}

.btn--outline:hover {
    background-color: var(--color-heading);
    color: aliceblue;
    border: 2px solid var(--color-heading);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}


/*  */


