<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ibrahimation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
      <div style="width: 30%; padding:4rem;">
          <div class="card card--primary">
              <div class="card__header">Heading</div>
              <div class="card__body"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi porro veritatis sint aspernatur error eligendi atque accusantium natus! Necessitatibus vero odit rem cupiditate ducimus! Commodi rem hic id accusamus tempora! Odit quasi earum, error, dolores quaerat consequatur officiis nemo magnam dolorem autem ab repellat iusto voluptates quam voluptas! Exercitationem, necessitatibus!</p></div>
          </div>
      </div>
  </body>
</html>
